spring.datasource.url=jdbc:postgresql://localhost:15432/mailsender
spring.datasource.username=postgres
spring.datasource.password=postgres

spring.security.oauth2.client.provider.keycloak.issuer-uri=http://localhost:18080/realms/Mailsender

keycloak.credentials.secret=6Rmtg946okLncUz9E9PkGlk0nmHxNdm9

